.slickSlide { 
    display: block;
    overflow: hidden;
    margin: auto; 
    width: 90%; 
}

.imgSlider {
    position: relative;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.li {
    color: #fff;
}
