.navigationLogo {
    display: flex;
    flex-grow: 1;
    position: relative;
    width: 290px;
    font-weight: 400;
    background-color: transparent;
    margin-right: 30px;
    padding-left: 30px;

    align-items: center;
    transition: height .2s;
    transition-property: height;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    font-family: fcb-regular,Arial,Helvetica Neue,Helvetica,sans-serif;
}

.logoIcon {
    width: 100%;
    height: 4rem;
    fill: #fff;
}

